{% extends '::base.html.twig' %}

{% block title -%}{% trans %}visit.visit{% endtrans %}{% endblock %}

{% block body -%}
    <h1>{% trans %}visit.visit{% endtrans %} creation</h1>

    {{ form(form) }}

    <ul class="record_actions table table-striped">
        <li>
            <a href="{{ path('owner_show',{'id': entity.pet.owner.id }) }}">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                {% trans %}back.to.owner{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}