{% extends '::base.html.twig' %}

{% block title -%}{% trans %}pet.pet{% endtrans %}{% endblock %}

{% block body -%}
    <h1>{% trans %}pet.pet{% endtrans %} {% trans %}create.new{% endtrans %}</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('owner_show',{'id': entity.owner.id }) }}">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                {% trans %}back.to.owner{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}