{% extends '::base.html.twig' %}

{% block title -%}{% trans %}vet.vet{% endtrans %}{% endblock %}

{% block body -%}
    <h1>{% trans %}vet.vet{% endtrans %} {% trans %}edit{% endtrans %}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('vet') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> {% trans %}back.to.list{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
