<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>WordHang</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/responsive.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/theme.css">
		<link rel="stylesheet" type="text/css" href="css/kbStyle.css">
	
        <script type="text/javascript">
            function id(el) {
                return document.getElementById(el);
            }
            function val(destino, valor) {
                destino.value += valor;
            }
            var focus = false;
            window.onload = function () {


                var botoes = id('teclado').getElementsByTagName('input');
                for (var i = 0; i < botoes.length; i++) {
                    botoes[i].onclick = function () {
                        if (!focus) {
                            alert('coloque o foco em algum input');
                            exit();
                        }

                        val(id(focus), this.value);
                        id(focus).focus();
                    }
                }

                var inputs = id('area').getElementsByTagName('input');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].onfocus = function () {
                        focus = this.id;
                    }
                }
                id('entrada_1').focus();
            }
        </script>
        <style type="text/css">
            * { margin: 0; padding: 0; border: 0; }
            input { background: #transparent !important; border: 1px solid #ccc !important; padding: 2px !important;}
            #teclado { width: 100%; }
            #teclado fieldset { width: 300px !important; text-align: center !important; float: left !important; margin: 2px !important; }
            #teclado #numbers { float: right !important; width: 80px !important; }
            fieldset { margin: 5px !important; }
        </style>
    </head>
    <body role="document">

        <!-- Fixed navbar -->
<!--        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bootstrap theme</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>/.nav-collapse 
            </div>
        </nav>-->

        <div class="container theme-showcase" role="main">

            <div class="jumbotron">
                <CENTER><img src=images/wordhang_logo.png width="65%"/></CENTER>
            </div>

            <div class="jumbotron">
                <div class="row">
                    <!--<div class="col-md-8 col-lg-8 col-xs-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2">-->
                    <div class="col-md-3 col-lg-3 col-xs-3">
                        <a href="" class="font-giz font-size-dica" data-toggle="tooltip" title="Aqui será a dica para o usuário">DICA</a>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-6">
                        <p class="text-align-center font-palavra-secreta font-color-white font-giz">W _ _ D _ _ N G</p>
                    </div> 
					<div class="col-md-3 col-lg-3 col-xs-3">               
						<section id="heart"></section>   					
						<section id="heart" style="margin-left: 50px"></section>		
						<section id="heart" style="margin-left: 100px"></section>	
						<section id="heart" style="margin-left: 150px"></section>						
                    </div>
                    <!--</div>-->
                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-8 col-lg-8 col-xs-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2">
                        <img src="images/1.png" width="50%"/>
                    </div>
                </div>
            </div>

<div id="container" class="font-giz">
    <ul id="keyboard">
        <li class="letter">A</li>
        <li class="letter">B</li>
        <li class="letter">C</li>
        <li class="letter">D</li>
        <li class="letter">E</li>
        <li class="letter">F</li>
        <li class="letter">G</li>
        <li class="letter">H</li>
        <li class="letter">I</li>
        <li class="letter">J</li>
        <li class="letter">K</li>
        <li class="letter">L</li>
        <li class="letter">M</li>		
        <li class="letter">N</li>
        <li class="letter">O</li>
        <li class="letter">P</li>
        <li class="letter">Q</li>
        <li class="letter">R</li>
        <li class="letter">S</li>
        <li class="letter">T</li>
        <li class="letter">U</li>
        <li class="letter">W</li>
        <li class="letter">V</li>
        <li class="letter">X</li>
        <li class="letter">Y</li>
        <li class="letter">Z</li>
    </ul>
</div>
 
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/keyboard.js"></script>

        </div> <!-- /container -->

        <footer class="footer">
            <div class="container">
                <p class="text-muted">Copyright 2016 - ES3Team - Engenharia de Software 3</p>
            </div>
        </footer>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/docs.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>